# DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# Secrets
JWT_SECRET=
API_KEY_LLM=
BOT_TOKEN=

# Scraper
BASE_URL="https://www.carsensor.net" #URL For Parsing
API_URL="http://backend:8000/api/cars" #Backend route
USER_AGENT= #HTTP User agent

# BOT
API_URL_BOT="http://backend:8000/api/search" #Backend Route
BASE_URL_LLM=